* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #ff781e;
}

#quotebox {
	background-color: #ffffff;
	border-radius: 4px;
	padding-bottom: 3%;
	text-align: center;
}

.fila-citas {
	margin-top: 20%;
}

blockquote {
	/*text-align: justify;*/
	color: #ff781e;
	border-left: none; /* Elimina la barra gris que trae el css de BT por defecto */
}

cite {
	color: #ff781e;
}

footer {
	text-align: right;
	color: #ff781e;
}

/*TODO ADD hover para resaltar el boton cuando se presione y pase por encima*/
#btn-qt {
	position: relative;
	left: 20%;
	color: #ffffff;
	background: #ff781e;
	border: none;
	/*font-weight: bold;*/
}

#btn-tumblr {
	position: relative;
	left: -15%;
	color: #ffffff;
	background: #ff781e;
	border: none;
}

#btn-twitter {
	position: relative;
	left: -15%;
	color: #ffffff;
	background: #ff781e;
	border: none;
}

.firma {
	text-align: center;
	padding-top: 1%;
}

.fa-heart {
	color: red;
}

#autor {
	color: white;
}
